*{
    margin:0;
    padding:0;
}
html,body{
    height:100%;
}
div.wrap{
    width:800px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(24,24,24);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    position:relative;
}
body{ 
    line-height: 1.7;
}
.header{
    top:0;
    height:60px;
    width:800px;
    background-color: rgb(24,24,24);
    text-decoration: none;
    text-align: center;
    font-size:30px;
}
.top a.topc{
    color:rgb(0, 247, 255);
    float:left;
    text-shadow: 2px 2px 5px blue; 
    font-size: 30px;
    padding: 0 5px;
}
.top a.login{
    background: rgb(0, 247, 255) ;
    color:white;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0px 3px;
}
.top a:hover.login{
    background: white ;
    color:rgb(0, 247, 255) ;
    text-decoration: none;
}
.top a{
    float:right;
    color:rgb(4, 0, 252);
    text-decoration: none;
    padding: 0 5px;
    font-size: 20px;
    padding-top: 10px;
}
.top a:hover{
    color:rgb(0, 247, 255);
    text-decoration: overline;
}
.top a:hover.topc{
    text-transform: uppercase;
    text-decoration: none;
}
.dropdown{
    float:right;
    overflow:hidden;
}
.dropdown .dropbtn{
    border:none;
    outline:none;
    padding:inherit;
    margin:0;
    font-family: inherit;
    background-color: inherit;
    color:blue;
    font-size: 20px;
}
.dropdown-content{
    display:none;
    position:absolute;
    min-width:100px;
    z-index:1;
    background-color: rgb(105, 105, 105);
    border-radius: 7px;   
    right:30px;
}
.dropdown-content a{
    float:none;
    display:block;
    text-align: center;
    color: white;
    padding: 10px 13px;
    opacity: 0.6;
    transition: 0.3s;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content a:hover{
    opacity: 1; 
}
.col{
    display: inline-block;
}
@media screen and (max-width:800px){
}
.body{
    font-style: normal;
    padding: 5px ;
    padding-top:30px;
    color:white;
}
.dcontainer{
    position:relative;
    width:100%;
}
.dimage{
    display:block;
}
.dbottom {
    color:white;
    font-size: 20px;
    background-color: rgb(86, 84, 84);
    opacity:0;
    bottom: 0%;
    width:100%;
    position:absolute;
    padding:5px;
}
.dtext p{
    text-align: left;
    display: inline-block;
}
.dtext a{
    right: 5px;
    display:inline-block;
    color:white;
    float: right;
}
.dcontainer:hover .dbottom{
    opacity:0.9;
}
.share{
    overflow:hidden;
    float:left;
    padding-right:5px;
}
.share .sharebtn{
    border:none;
    outline:none;
    background-color: none;
    border-radius: 3px;
    opacity:1;
    padding:3px;
}
.share-content{
    display:none;
    position:absolute;
    min-width:100px;
    z-index:1;
    background-color: rgb(105, 105, 105);
    border-radius: 5px;
}
.share-content a{
    display:block;
    float:none;
    text-align:center;
    color:white;
    padding: 7px 10px;
    opacity:0.6;
}
.sharebtn:hover{
    opacity:0.6;
}
.share-content a:hover{
    opacity:1;
    color:rgb(0, 247, 255);
}
.share:hover .share-content{
    display:block;
}
.footer{
    width:100%;
    bottom: 0;
    background-color: rgb(24,24,24);
    text-align: center;
    height:400px;
    color:white;
}
.bottom h3{
    color:rgb(0, 247, 255);
}
.bottom a{
    text-decoration: none;
    color:blue;
}
.bottom a:hover{
    text-decoration: overline;
    color:rgb(0, 247, 255);
}






  